<body style="background-image: url(https://images.unsplash.com/photo-1585816805333-0651801e4ebf?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);">
    <h1 id="heading">Welcome Doctor <%= locals.user.username%></h1>

    <div id="sign-buttons-container">
        <a href="/patients/register" class="btn btn3">Register Patient</a>
        <a href="/reports/filter" class="btn btn3">Filter Reports</a>
        <a href="/doctors/destroy" class="btn btn3">Logout</a>
    </div>
</body>