<div class="topnav">
    <a href="/">Home</a>
    <a href="/doctors/register">Sign Up</a>
    <a href="/doctors/login">Sign In</a>
</div>
<h1 id="heading" style="color: antiquewhite">Sign Up</h1>
<form action="/doctors/create-doctor" method="post" class="form">
    <input type="text" class="input-field" name="username" id="username" placeholder="Enter Username" required><br>
    <input type="password" class="input-field" name="password" id="password" placeholder="Enter Password" required><br>
    <input type="password" class="input-field" name="confirm-password" id="confirm-password" placeholder="Enter Password again" required><br>
    <button class="form-button form-button2">Sign Up</button>
</form>
