<div class="topnav">
    <a href="/">Home</a>
    <a href="/doctors/register">Sign Up</a>
    <a href="/doctors/login">Sign In</a>
</div>
<h1 id="heading">Sign In</h1>
<form action="/doctors/create-session" method="post" class="form">
    <input type="text" class="input-field" name="username" id="username" placeholder="Enter Username" required><br>
    <input type="password" class="input-field" name="password" id="password" placeholder="Enter Password" required> <br>
    <button type="submit" class="form-button form-button1">Sign In</button>
</form>
